@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chokokutai&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.contact-form {
  text-align: center;
  margin-top: 20px;
}

.contact h4 {
  color: red;
  margin-top: 3rem;
}

.contact p {
  margin-top: 10px;
}

.contact a {
  display: inline-block;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.contact-area {
  margin-top: 1rem;
}

form {
  display: block;
}

input,
textarea {
  padding: 15px;
  border: solid #000 1px;
  background-color: transparent;
  color: #000;
  font-family: "Lato", sans-serif;
  width: 30rem;
  margin-bottom: 10px;
}

.submit {
  cursor: pointer;
}

.submit:hover {
  border-color: red;
  color: red;
}

input:focus {
  outline: none;
  border-color: red;
}

textarea:focus {
  outline: none;
  border-color: red;
}

.hidden {
  display: hidden;
}

::placeholder {
  color: #000;
  font-family: "Lato", sans-serif;
}

.text-center {
  text-align: center;
}

/* Tablets and under */
@media (max-width: 768px) {
  .contact .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .contact-form input,
  .contact-form textarea {
    width: 23rem;
  }
}

/* Mobile */
@media (max-width: 400px) {
  .contact-form input,
  .contact-form textarea {
    width: 20rem;
  }
}

/* Mobile */
@media (max-width: 320px) {
  .contact-form input,
  .contact-form textarea {
    width: 18rem;
  }
}
